mat-form-field{
    display: block;
    width: 20vw;
    padding: 10px
}

.box{
    width: 20vw;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
}

.submit{
    align-items: center;
    text-align: center;
}

mat-raised-button{
    padding: 20px 0px;
}