<!-- Formulario reactivo-->


<form [formGroup]="myForm" (submit)="loginUser()">
  <div ngClass="box">
    <h1>{{"LOG IN"|uppercase}}</h1>
  </div>
  <div class="block">
    <span class="p-float-label">
      <input id="user" type="username" aria-describedby="user-help" [ngClass]="user?.errors?'ng-invalid ng-dirty':''" pInputText
        formControlName="user" />
      <label for="user">Enter your username</label>
    </span>
    <small id="user-help" class="p-error block" *ngIf="user?.errors?.['required'] && user?.touched" mat-form-field>El
      campo es obligatorio</small>
  </div>

  <div class="block">
    <span class="p-float-label">
      <input id="password" type="password" aria-describedby="password-help" [ngClass]="password?.errors?'ng-invalid ng-dirty':''" pInputText
        formControlName="password">
      <label for="password">Enter your password</label>
    </span>
    <small class="p-error block" *ngIf="password?.errors?.['required'] && password?.touched" mat-form-field>El campo es
      obligatorio</small>
    <small class="p-error block" *ngIf="password?.errors?.['minLength'] && password?.touched" mat-form-field>debe tener
      minimo 8 caracteres</small>
  </div>

  <div ngClass="submit">
    <button pButton pRipple label="CANCEL" class="p-button-raised p-button-warning" (click)="cancelButton()"> </button>
    <button pButton pRipple label="SUBMIT" [ngClass]="myForm.invalid?'p-button-secondary p-button-raised':'p-button-success p-button-raised'" type="submit" [disabled]="myForm.invalid"> </button>
  </div>
</form>
